.container {
    padding: 24px 0;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
    padding: 0px;
  }
  
  .slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 24px;
    padding: 0 24px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .card {
    flex: 0 0 300px;
    scroll-snap-align: start;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    background: #343b3f;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 295px;
  }
  
  .imageContainer {
    position: relative;
    height: 200px;
    width: 100%;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .buy {
    position: absolute;
    top: 16px;
    left: 16px;
    background: #C49402;
    color: white;
    padding: 8px 16px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    
  }

  .buy:hover {
    background: #d9a407;
  }
  
  .favorite {
    position: absolute;
    top: 16px;
    right: 16px;
    background: white;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.2s;
    border: none;
  }
  
  .favorite:hover {
    transform: scale(1.1);
  }
  
  .content {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .name {
    font-size: .8rem;
  font-weight: 500;
  margin-bottom: 5px;
  flex-grow: 1;
  max-width: 95%;
  }
  
  .rating {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #f3f4f6;
  }
  
  .star {
    color: #fbbf24;
  }
  
  .reviews {
    color: #dcdfe3;
    font-size: 14px;
  }
  
  .info {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #6b7280;
    font-size: 14px;
  }
  
  .price {
    font-size: 1rem;
    font-weight: 600;
    color: #C49402; 
  }
  