.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  
  .title {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 5px;
    margin-top: 9px;
  }
  
  .itemsContainer {
    overflow-x: auto;
  }
  
  .scrollContainer {
    display: flex;
    gap: 16px;
    padding: 10px 0;
  }
  
  .item {
    flex: 0 0 auto;
    width: 200px;
    height: 300px; 
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    /* background-color: rgb(123, 39, 39); */
    background: #343b3f;
    gap: 8px; 
  }
  
  .image {
    width: 100%;
    height: 150px; 
    object-fit: contain;
    margin-bottom: 8px; 
  }
  
  .name {
    font-size: 14px;
    font-weight: 500;
    color: #C49402;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px; 
  }
  
  .price {
    font-size: 16px;
    font-weight: 700;
    color: #C49402;
    margin-bottom: 4px; 
  }
  
  .addToCartButton {
    background: linear-gradient(to right, #AF6E1C, #C49402);
    color: white;
    border: none;
    padding: 6px 6px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  
  .addToCartButton:hover {
    background: #C49402;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 16px;
    }
  
    .price {
      font-size: 18px;
    }
  }