\`\`\`css
.searchContainer {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f0f0f0;
  border-radius: 30px;
  padding: 5px 0.2px;
  margin-bottom: 20px;
  width: 98%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  color: #666;
  margin: 0 10px;
}

.searchBar input {
  flex-grow: 1;
  border: none;
  background: transparent;
  font-size: 16px;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.searchBar input::placeholder {
  color: #999;
}

.searchBar input:focus {
  outline: none;
}

.filterBtn {
  background: #000;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin-right: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: pulse 2s infinite;
}

.filterBtn:hover {
  background-color: #333;
  animation-play-state: paused;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal {
  background-color: #111;
  padding: 10px;
  padding-bottom: 70px;
  border-radius: 5px;
  max-width: 600px;
  width: 95%;
  max-height: 80vh;
  overflow-y: auto;
  text-transform: uppercase;
  position: relative;
}

.modal h2 {
  margin-top: 0;
  text-transform: capitalize;
  color: #908f8f;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 29px;
  color: #a09c9c;
  background: none;
  border: none;
  padding: 0;
}

.checkbox {
  cursor: pointer;
  margin-right: 10px;
}

.filterOptions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.filterOption {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterOption:last-child {
  border-bottom: none;
}

.filterOption label {
  flex-grow: 1;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.applyBtn {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 20px;
  text-transform: uppercase;
}

.applyBtn:hover {
  background-color: #333;
}

.modalContent {
  background-color: #111;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  width: 95%;
  max-height: 70vh;
  overflow-y: auto;
  text-transform: uppercase;
  position: relative;
  margin-top: 19em;
}

.modalContent h2, .modalContent h3 {
  color: #908f8f;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.modalContent ul {
  list-style-type: none;
  padding: 0;
}

.modalContent li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalContent li:last-child {
  border-bottom: none;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 29px;
  color: #a09c9c;
}

.itemName {
  flex-grow: 1;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-right: 10px;
}

.itemPrice {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  text-align: right;
}

.categoriesName {
  color: #908f8f;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  .searchBar {
    padding: 8px 15px;
  }

  .searchBar input {
    font-size: 16px;
  }

  .searchIcon {
    font-size: 18px;
  }

  .filterBtn {
    padding: 12px;
  }
}

