/* src/components/Navbar/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00000073;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .nav-item {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .nav-item.active {
    color: #ff0000;
  }
  
  .profile-icon {
    width: 30px;
    height: 30px;
    background-color: #ffd700;
    object-fit: cover;
    border-radius: 50%;
  }

  /* src/components/Navbar/NavBar.css */
  .notification-icon {
    position: relative;
  }
  
  .notification-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-overlay {
    position: fixed;
    top: -170px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 50px;
    margin: 0 10px;
    font-weight: 900;
    padding: 0;
    color: #000;
    cursor: pointer;
  }

  .profile-image {
    transition: transform 0.2s;
  }
  
  .profile-image:hover {
    transform: scale(1.1);
  }

  .profile-container {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Fallback background color */
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .profile-icon {
    color: #666;
  }
  
  /* Hover effects */
  .profile-container:hover,
  .profile-icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }